@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%
}

.app {
  display: flex;
  position: relative;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.729);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(109, 233, 68);
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: blue;
}
