@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

body {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* killport 300 link turns to hand when hovered */
#killport:hover {
  cursor: pointer;
}

/* make metrics install link a cursor on hover */
#metrics_install_link:hover {
  cursor: pointer;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(210, 223, 61, 0.129);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #716b88;
  border-radius: 2.5px;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: rgb(160, 160, 195, 0.2);
}

a {
  color: inherit;
  text-decoration: none;
}

#sidebarTopDiv {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30px;
  left: 0px;
  width: 36px;
  height: 100%;
  /* margin: 0 30px 0 0; */
  padding: 30px 0px 0 0;
  /* background-color: red; */
  border-right: 10px;
  border-color: white;
  /* z-index: -1000; */
}

.menuIcons:hover {
  background-color: #8383de70;
  border-radius: 9px;
}

#runButt:hover {
  /* border: 1.5px solid #685aef !important; */
  /* color: #685aef !important; */
  filter: brightness(120%);
  -webkit-filter: brightness(120%);
}

#clear-button:hover {
  /* border: 1.5px solid #685aef !important; */
  /* color: #685aef !important; */
  filter: brightness(120%);
  -webkit-filter: brightness(120%);
  border: 1px solid gray !important;
}

#nodeButt:hover {
  border: 1.2px solid #685aef !important;
  color: #685aef !important;
}

#podButt:hover {
  border: 1.3px solid #685aef !important;
  color: #685aef !important;
}

#podsSmallStat {
  font-size: 10px;
  justify-content: center !important;
  text-align: center;
}

/* #podsSmallStat:hover { */
/* color: white !important; */
/* } */

#subtitle {
  text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3) !important;
}

#yaml {
  transform: none;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
}

#terminal {
  overflow-anchor: none !important;
}

.clusterStatusIcons {
  transform: scale(6.8);
}

.clusterLoadingIcon {
  transform: scale(9.8);
}

.button3D-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* margin: 10px 10px 0 10px */
}

.button3D-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: hsl(0deg 0% 0% / 0.08);
  will-change: transform;
  transform: translateY(6px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button3D-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  /* background: linear-gradient(
    to left,
    hsl(239, 40%, 25%) 0%,
    hsl(239, 40%, 30%) 8%,
    hsl(239, 40%, 30%) 92%,
    hsl(239, 40%, 25%) 100%
  ); */
}

.button3D-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 7px;
  /* border: 1px solid rgb(29, 38, 127); */
  font-size: 0.9rem;
  color: white;
  /* background: hsl(239, 38%, 51%); */
  will-change: transform;
  transform: translateY(-6px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  font-family: Roboto;
  font-weight: 500;
}

.button3D-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button3D-pushable:hover .button3D-front {
  transform: translateY(-4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button3D-pushable:active .button3D-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button3D-pushable:hover .button3D-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button3D-pushable:active .button3D-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button3D-pushable:focus:not(:focus-visible) {
  outline: none;
}

